
.nav-container{
    color:#3412f3;
    background-color : rgb(244 243 242 / 0%);
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn {
    background-color:  #ebf1f129 !important;
    border-color:  #ebf1f129 !important;
    color:  #3412f3 !important;
    font-weight: bold !important;
}
.btn{
    color:black
}

/* .nav-button a {
 
    background: black;
    border: 200px 10px solid black;
    border-radius: 3px;
    color: blue;
    display: inline-block;
    text-decoration: none;
}

.nav-button a:hover {
    background: rgb(0, 0, 10);
    border: 5px solid black;
    color: rgb(85, 5, 5);
} */
/*.btn-margin-left {*/
/*    margin-left: 2px;*/
/*}*/
/*.btn-margin-right {*/
/*    margin-right: 2px;*/
/*}*/

.nav-button{
    margin-left: 2px;
    margin-right: 2px;
}


.nav {
    color: brown;
    padding: 2em;
}
