.nav-container{

    background-color : rgb(6, 2, 44);
    width: 100%;
    height: 10%;

}
/*.btn-margin-left {*/
/*    margin-left: 2px;*/
/*}*/
/*.btn-margin-right {*/
/*    margin-right: 2px;*/
/*}*/

.nav-button{

    margin-left: 1px;
    margin-right: 20px;
}

.nav {
    padding: 1em;
}
