.nav-container{

    background-color : deepskyblue;
    width: 100%;
    height: 10%;

}
/*.btn-margin-left {*/
/*    margin-left: 2px;*/
/*}*/
/*.btn-margin-right {*/
/*    margin-right: 2px;*/
/*}*/

.nav-button{

    margin-left: 122px;
    margin-right: 122px;
}

.nav {
    padding: 1em;
}
